body{
	border: 5px solid white;
	padding: 25px;
	margin-right: 300px;
	margin-left: 300px;
	margin-top: 50px;
    font-family: fantasy;
    background-color: limegreen;
    text-align: center;
}
fieldset {
     background-color: palegreen;
}
legend {
    font-weight: bold;
    font-size: 15pt;
}
.field{
	text-align: left;
}
.tbl{
	margin: auto;
}