body{
	border: 5px solid white;
	padding: 25px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
    font-family: fantasy;
    background-color: limegreen;
    text-align: center;
}
table{
	border: 1px solid black; 
	width: 100%;
}
tr{
	border: 1px solid black;
}
td{
	border: 1px solid black;
}